ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: seagreen;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 20px;
}


li a:hover {
  background-color: black;
}

.active {
  background-color: black;
}

h1
{
	color: white;
	font-size: 80px;
	font-family: serif;
	font-style: normal;
	text-align: center;
}

p
{
	color: white;
	font-size: 18px;
	font-family: sans-serif;
	font-style: normal;
	text-align: center;
}
